apiVersion: v1
kind: Pod
metadata:
  name: {{ .Release.Name }}-busybox
  namespace: datateam
spec:
  containers:
  - image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
    command:
      - sleep
      - "3600"
    imagePullPolicy: IfNotPresent
    name: busybox
  restartPolicy: Always
